<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Inbeauty - Dashboard</title>
    <meta name="viewport" content="width=device-width" />
    <link href="css/dashboard.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<!-- #wrapper start-->
<div class="wrapper">
   <!-- sidebar start-->
    <div class="sidebar"  data-color="blue" data-image="images/sidebar-5.jpg">
    	<div class="sidebar-wrapper">
            <div class="logo">
               <a class="pull-left" href="#">
					<img class="media-object" src="images/1.png" >
				</a>
                <a href="profile.html" class="simpletext">                   
					Monica Bellucci<br><span>View Profile</span>
                </a>
            </div>
            <ul class="nav">
                <li class="active"><a href="dashboard.html"><p>Group Updates</p></a></li>
                <li><a href="#"><p>Contacts</p></a></li>
				<li><a href="index.html"><p>Logout</p></a></li>
            </ul>
    	</div>
    </div>
    <!-- sidebar end-->
	<!-- mainpanel start-->
    <div class="main-panel">
        <nav class="navbar navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <a class="navbar-brand" href="#">
					<img src="images/logocolor.png" alt=" Logo" class="img-responsive" width="150px" style="margin-top:-15px;"/>	
					</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">			
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">   
                    <div class="col-md-12">                        
                               <ol class="breadcrumb">
								  <li class="active" style="color:#fff" >Group Updates</li>
								  <!--<li><a href="#">Group Details</a></li>
								  <li class="active">AnilKumar</li>-->
								</ol>  
                    </div>
                </div>
                <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" placeholder="Company" value="Mike">
                                            </div>
                                        </div>
				</div>
                                       <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    
                                    	
                                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Table Heading</h4>
                                <p class="category">Subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    	<th>heading1</th>
                                    	<th>heading1</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>Title1</td>
                                        	<td>Title2</td>
                                        </tr>
                                        <tr>
                                        	<td>Title1</td>
                                        	<td>Title2</td>
                                        </tr>         
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>
    <!-- mainpanel end-->
</div>
<!-- #wrapper end-->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script/light-bootstrap-dashboard.js"></script>


</html>
